a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: underline;
}

a.disable,
.list-group a {
    text-decoration: none;
}

.panel-body h1:first-child {
    margin-top: 10px;
}

blockquote {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}
